.Toastify__toast-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 60px auto 0 auto;

  @media (max-width: 480px) {
    width: 100% !important;
  }
}

.Toastify__toast {
  background-color: #212121;
  color: white;

  border-radius: 10px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 24px;
  margin: 10px;
}

.Toastify__toast--success {
  background-color: #14a44d;
  font-weight: 900;
  color: #ffffff;
  border-inline-start-width: 5px;
  border-color: #10833e;
  --tw-border-opacity: 1;
  transform: scale(1);
  transition: transform 300ms ease-out;
}

.Toastify__toast--success:hover {
  background-color: #10833e;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transform: scale(1.1);
}

.Toastify__toast--error {
  background-color: #dc4c64;
  font-weight: bold;
  color: #ffffff;
  border-inline-start-width: 5px;
  border-color: #c04257;
  --tw-border-opacity: 1;
  transform: scale(1);
  transition: transform 300ms ease-out;
}

.Toastify__toast--error:hover {
  background-color: #c04257;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transform: scale(1.1);
}

.Toastify__toast--info {
  background-color: #54b4d3;
  font-weight: bold;
  color: #ffffff;
  border-inline-start-width: 5px;
  border-color: #499cb8;
  --tw-border-opacity: 1;
  transform: scale(1);
  transition: transform 300ms ease-out;
}

.Toastify__toast--info:hover {
  background-color: #499cb8;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transform: scale(1.1);
}

.Toastify__toast--warning {
  background-color: #d9991a;
  font-weight: bold;
  color: #ffffff;
  border-inline-start-width: 5px;
  border-color: #c68c18;
  --tw-border-opacity: 1;
  transform: scale(1);
  transition: transform 300ms ease-out;
}

.Toastify__toast--warning:hover {
  background-color: #c68c18;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transform: scale(1.1);
}
